.pokemon-list-item {
  display: flex;
  margin: 15px 0;
  justify-content: center;
}

.pokemon-list-item .pokemon-img {
  flex-shrink: 0;
  width: 150px;
  margin-right: 50px;
}

.pokemon-list-item .pokemon-img img {
  max-width: 100%;
}

.pokemon-list-item .pokemon-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10px;
  align-items: flex-start;
}

.pokemon-list-item .pokemon-details .pokemon-name {
  font-size: x-large;
}