.header {
  margin-top: .5rem;
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.header a:hover {
  text-decoration: none;
}

.header h3 a {
  color: brown;
}

.header h3 a:hover {
  color: cornflowerblue;
}