.header {
  margin-top: .5rem;
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.header .logo {
  font-family: "Playfair Display", Georgia, serif;
  font-size: 2.5rem;
}

.header a:hover {
  text-decoration: none;
}

.header .logo {
  color: brown;
}

.header .logo:hover {
  color: cornflowerblue;
}